/* sidebar chat */
.sidebarChat {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 2px solid #2b3238;
  overflow-y: hidden;
}

.sidebarChat:hover {
  cursor: pointer;
  background-color: #2b3238;
}

/* sidebarChat__left */

.sidebarChat__left {
  margin: 0 5px;
}

/* sidebarChat__right */
.sidebarChat__right {
  padding: 0 5px;
  flex: 1;
}
.sidebarChat__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarChat__name {
  margin-bottom: 5px;
  font-family: sans-serif;
  font-variant: small-caps;
  font-weight: 500;
  font-size: 16px;
  color: #f0f2f2;
}

.sidebarChat__lastmessage {
  color: #aaa;
  height: 15px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.sidebarChat__count {
  background-color: #59d986;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  padding: 3px;
  color: #f0f2f2;
}

.error {
  font-family: sans-serif;
  font-style: italic;
  color: rgb(218, 31, 31);
}
